.about {
  text-align: left;
}
.about p {
  color: $text-third-color;
  margin: 2.5rem 0 2rem -1rem;
}
.about ul li {
  color: $text-third-color;
  position: relative;
  margin: 1rem 3rem;
}
.about ul li::before {
  position: absolute;
  top: -0.4rem;
  left: -3rem;
  content: '';
  display: table;
  background-image: url(/dist/img/Checkmark-1.png);
  background-size: cover;
  width: 2rem;
  height: 2rem;
}
.about .btn {
  margin-top: 4rem;
}
.about .container {
  min-width: 100%;
  @include flexRow;
}
.about .inner-container {
  padding: 100px;
}
.about h2 {
  color: $text-secondary-color;
}
.BG-gear {
  background-color: $bg-gear;
  min-width: 30%;
  position: relative;
  @include flexFillHeight;
  img {
    position: absolute;
    top: 100px;
    right: -195px;
  }
}
.BG-about {
  min-width: 70%;
  background-image: url(/dist/img/BG-about.png);
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.75);
}
