.btn {
  padding: 1.5rem 2rem;
  background-color: $bg-green;
  border-radius: 2rem;
  color: $text-secondary-color;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
  font-weight: weight(bold);
}
.btn2 {
  font-size: 1.2rem;
  padding: 1rem 2rem;
  background-color: $bg-green;
  border: 3px solid $text-secondary-color;
  color: $text-secondary-color;
  text-transform: uppercase;
  border-radius: 5px;
  margin-top: 2rem;
}
