.home {
  background: url(/dist/img/BG-home.png) no-repeat center;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.75);
  margin-top: 7rem;
  h4 {
    margin: 2.5rem 0 3.5rem 0;
    font-size: 1.2rem;
  }
}
