/*-----COLORS----*/
$text-color: #777777;
$text-secondary-color: #ffffff;
$text-third-color: #cccccc;
$text-h-color: #222222;
$bg-green: #7cc576;
$bg-gear: #e9e9e9;
/*----FONTS---*/
$font-size: 16px;
$text-font: 'Montserrat', sans-serif;
$text-secondary-font: 'Roboto Slab', serif;
@function weight($weight-name) {
  @return map-get($font-weights, $weight-name);
}

$font-weights: (
  'small': 300,
  'regular': 400,
  'bold': 700,
);
/*---Media queries---*/
$mobile-sm: 576px;
$mobile-md: 768px;
$mobile-l: 992px;
$mobile-xl: 1200px;
