@import './resets';
@import './variables';
@import './mixins';
@import './header';
@import './home';
@import './buttons';
@import './about';
@import './projects';
@import './culture';
@import './clients';
@import './contact';
@import './media';
@import './latest';
html {
  color: $text-color;
  font-family: $text-font;
  font-size: $font-size;
  font-weight: weight(regular);
  text-align: center;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-secondary-color {
  color: $text-secondary-color;
}
.green {
  color: $bg-green;
}
.bg-green {
  background-color: $bg-green;
}
.bold {
  font-weight: weight(bold);
}
h4 {
  font-family: $text-secondary-font;
  color: $text-third-color;
  font-size: 1.3rem;
  margin-top: 1.2rem;
  margin-bottom: 5rem;
  letter-spacing: -0.5px;
}
h1 {
  font-size: 4rem;
  line-height: 4rem;
}
h2 {
  font-size: 2.5rem;
  color: $text-h-color;
}
p {
  font-family: $text-secondary-font;
}
.container {
  @include flexCenter;
  @include flexColumn;
  position: relative;
  max-width: 960px;
  margin: 0 auto;
}
.inner-container {
  padding: 6.25rem 0;
}
blockquote {
  font-family: $text-secondary-font;
  font-size: 1.4rem;
}
.row-3cols {
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-gap: 3rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

h5 {
  color: $text-h-color;
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
  margin-top: 2.5rem;
}
h6 {
  color: $text-h-color;
  font-size: 1.2rem;
}

.project-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  @include flexRow;
  .projects-row__BG-mobile {
    height: 100%;
    background: url(/dist/img/BG-mobile.png);
  }
}

/*
@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

body {
  background-color: $primary-color;

  color: $text-color;
}
.main {
  width: 80%;
  margin: 0 auto;

  #{&}__paragraph {
    font-weight: weight(regular);

    &:hover {
      color: red;
    }
  }
}
@include mobile {
  flex-direction: column;
}
*/
@media (max-width: $mobile-sm) {
  .clients-portrait {
    display: none;
  }
  .clients-quote {
    width: 100%;
    margin: 2rem auto;
  }
}
@media (max-width: $mobile-md) {
  html {
    font-size: $font-size-mobile;
  }
  .BG-gear {
    display: none;
  }
  .BG-about .inner-container {
    margin: 0 auto;
  }
}
@media (max-width: $mobile-l) {
  .culture {
    .line-wrapper::after {
      display: none;
    }
  }
}
