@import './resets';
@import './variables';
@import './mixins';
@import './header';
@import './home';
@import './buttons';

body {
  color: $text-color;
  font-family: $text-font;
  font-size: $font-size;
  font-weight: weight(regular);
  text-align: center;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-secondary-color {
  color: $text-secondary-color;
}

h4 {
  font-family: $text-secondary-font;
  color: $text-third-color;
  font-size: 1.3rem;
  margin-top: 1.2rem;
  margin-bottom: 5rem;
}
h1 {
  font-size: 4rem;
  line-height: 4rem;
}
h2 {
  font-size: 2.5rem;
  color: $text-h-color;
}
p {
  padding: 0 1rem;
}
.container {
  @include flexCenter;
  @include flexColumn;
  max-width: 960px;
  margin: 0 auto;
}
.inner-container {
  padding: 100px 0;
}

.row-3cols {
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-gap: 3rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

h5 {
  color: $text-h-color;
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
  margin-top: 2.5rem;
}
.BG-gear {
  background-color: $bg-gear;
  width: 30%;
  position: relative;
  img {
    margin: 100px 0;
    position: absolute;
    right: -195px;
  }
}
.BG-about {
  width: 70%;
  background-image: url(/dist/img/BG-about.png);
  background-size: cover;
}

.project-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  @include flexRow;
  .projects-row__BG-mobile {
    height: 100%;
    background: url(/dist/img/BG-mobile.png);
  }
}

/*
@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

body {
  background-color: $primary-color;

  color: $text-color;
}
.main {
  width: 80%;
  margin: 0 auto;

  #{&}__paragraph {
    font-weight: weight(regular);

    &:hover {
      color: red;
    }
  }
}
@include mobile {
  flex-direction: column;
}
*/
@media (max-width: $mobile-md) {
  h1 {
    font-size: 3rem;
  }
}
@media (max-width: $mobile-l) {
}
