@import './resets';
@import './variables';
@import './mixins';

body {
  color: $text-color;
  font-family: $text-font;
  font-size: $font-size;
  font-weight: weight(regular);
  text-align: center;
}
.text-uppercase {
  text-transform: uppercase;
}
nav {
  position: fixed;
  top: 0px;
}
.text-secondary-color {
  color: $text-secondary-color;
}
.home {
  background: url(/dist/img/BG-home.png) no-repeat center;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.75);
  #{&}__inner {
    margin: 7.8rem 0 7.8rem 0;
  }
  p {
    margin: 2.5rem 0 3.5rem 0;
    font-size: 1.2rem;
  }
}
h4 {
  font-family: $text-secondary-font;
  color: $text-third-color;
  font-size: 1.3rem;
  margin-top: 1.2rem;
  margin-bottom: 5rem;
}
h1 {
  font-size: 4rem;
  line-height: 4rem;
  margin-top: 7.5rem;
}
h2 {
  font-size: 2.5rem;
  color: $text-h-color;
}

header {
  position: fixed;
  z-index: 2;
}
.btn {
  padding: 1.5rem 2rem;
  background-color: $bg-green;
  border-radius: 2rem;
  color: $text-secondary-color;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
  font-weight: weight(bold);
}
.another-section {
  @include flexCenter;
}
.container {
  @include flexCenter;
  @include flexColumn;
  width: 80%;
  margin: 0 auto;
}

.about-container {
  width: 80%;
  margin: 100px auto;
  .about-columns-container {
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  h5 {
    color: $text-h-color;
    font-size: 1.2rem;
    margin-bottom: 1.2rem;
    margin-top: 2.5rem;
  }
}

.inner-container {
}

.BG-gear {
  background-color: $bg-gear;
  width: 30%;
  position: relative;
  img {
    margin: 100px 0;
    position: absolute;
    right: -195px;
  }
}
.BG-about {
  width: 70%;
  background-image: url(/dist/img/BG-about.png);
  background-size: cover;
}

/*
@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

body {
  background-color: $primary-color;

  color: $text-color;
}
.main {
  width: 80%;
  margin: 0 auto;

  #{&}__paragraph {
    font-weight: weight(regular);

    &:hover {
      color: red;
    }
  }
}
@include mobile {
  flex-direction: column;
}
*/
